<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="img-fluid-container">
            <img src="assets/img/general/about2.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Descubre el Arte de la Cocteleria</h3>
          <p class="fst-italic">
            Sumérgete en una Experiencia Única de Sabor y Estilo
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Aprende de expertos: Nuestros instructores te enseñarán las técnicas vanguardistas de la mixología.</li>
            <li><i class="ri-check-double-line"></i> Ingredientes premium: Descubre cómo combinar ingredientes frescos para crear sabores únicos en cada cóctel.</li>
            <li><i class="ri-check-double-line"></i> Experiencia móvil personalizada: Nuestro servicio de barras móviles se adapta a tus necesidades, brindándote una experiencia excepcional en cualquier evento.</li>
          </ul>
          <p>
            En nuestra escuela de coctelería y servicio de barras móviles, te brindamos una experiencia única llena de sabor, estilo y excelencia, logrando crear cócteles que deleitarán a tus invitados. 
             Nuestro equipo de expertos te guiará desde la elección de ingredientes de calidad hasta las impresionantes técnicas de presentación. 
             Con nuestro servicio de barras móviles, llevaremos diversión y sofisticación a cualquier evento, adaptándonos a tus necesidades y creando momentos inolvidables. 
             Únete a nosotros para descubrir el arte de los cócteles y las barras móviles en un ambiente amigable y dinámico. 
             ¡Juntos, haremos que tus eventos brillen con momentos memorables!
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
