<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
      <div class="text-center" style="margin: 3rem;align-items: center;display: flex;flex-direction: column;">
        <h3>Descubre algunos de nuestros cocktails</h3>
        <hr class="cocktail-line" style="color: white;width: 50%;margin: 1rem;" />
      </div>
      <div class="cocktails-wrapper">
        <div class="row cocktail-row">          
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-left" data-aos-delay="100">
            <div class="img-fluid-container">
              <img src="assets/img/general/bartender/cocktails/1.jpg" class="img-fluid" alt="">
            </div>
            <div class="cocktail-triangle-box">
              <div class="cocktail-triangle-left"></div>
            </div>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-down" data-aos-delay="100">
            <p class="fst-italic cocktail-paragraph">
              Margarita tropical
            </p>
            <hr class="cocktail-line"  />
            <p class="fst-italic cocktail-subparagraph">
              Una explosión refrescante de tequila, jugo de lima y sabores tropicales.
            </p>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-left" data-aos-delay="100">
            <div class="img-fluid-container">
              <img src="assets/img/general/bartender/cocktails/2.jpg" class="img-fluid" alt="">
            </div>
            <div class="cocktail-triangle-box">
              <div class="cocktail-triangle-left"></div>
            </div>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-down" data-aos-delay="100">
            <p class="fst-italic cocktail-paragraph">
              Mojito de fresa
            </p>
            <hr class="cocktail-line"  />
            <p class="fst-italic cocktail-subparagraph">
              El clásico mojito con un toque dulce y afrutado de fresas frescas.
            </p>
          </div>
        </div>   
        <div class="row cocktail-row">          
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-down" data-aos-delay="100">
            <p class="fst-italic cocktail-paragraph">
              Piña colada cremosa
            </p>
            <hr class="cocktail-line"  />
            <p class="fst-italic cocktail-subparagraph">
              Una mezcla suave y cremosa de ron, piña y coco, perfecta para relajarse.
            </p>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-left" data-aos-delay="100">
            <div class="img-fluid-container">
              <img src="assets/img/general/bartender//cocktails/3.jpg" class="img-fluid" alt="">
            </div>
            <div class="cocktail-triangle-box">
              <div class="cocktail-triangle-right"></div>
            </div>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-down" data-aos-delay="100">
            <p class="fst-italic cocktail-paragraph">
              Martini de manzana verde
            </p>
            <hr class="cocktail-line"  />
            <p class="fst-italic cocktail-subparagraph">
              Un elegante cóctel con vodka y un toque refrescante de manzana verde.
            </p>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-left" data-aos-delay="100">
            <div class="img-fluid-container">
              <img src="assets/img/general/bartender//cocktails/4.jpg" class="img-fluid" alt="">
            </div>
            <div class="cocktail-triangle-box">
              <div class="cocktail-triangle-right"></div>
            </div>
          </div>
        </div> 
        <div class="row cocktail-row">          
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-left" data-aos-delay="100">
            <div class="img-fluid-container">
              <img src="assets/img/general/bartender/cocktails/6.jpg" class="img-fluid" alt="">
            </div>
            <div class="cocktail-triangle-box">
              <div class="cocktail-triangle-left"></div>
            </div>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-down" data-aos-delay="100">
            <p class="fst-italic cocktail-paragraph">
              Daiquiri de frutas del bosque
            </p>
            <hr class="cocktail-line"  />
            <p class="fst-italic cocktail-subparagraph">
              Una deliciosa combinación de ron, jugo de limón y frutas del bosque.
            </p>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-left" data-aos-delay="100">
            <div class="img-fluid-container">
              <img src="assets/img/general/bartender/cocktails/7.jpg" class="img-fluid" alt="">
            </div>
            <div class="cocktail-triangle-box">
              <div class="cocktail-triangle-left"></div>
            </div>
          </div>
          <div class="col-lg-3 order-1 order-lg-2 cocktail-block" data-aos="fade-down" data-aos-delay="100">
            <p class="fst-italic cocktail-paragraph">
              Old Fashioned ahumado
            </p>
            <hr class="cocktail-line"  />
            <p class="fst-italic cocktail-subparagraph">
              Un clásico con whisky, azúcar, angostura y un toque ahumado.
            </p>
          </div>
        </div>       
      </div>

    </div>
  </section><!-- End About Section -->
