<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Descubre nuestros Servicios</p>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Escuela de Coctelería</a></h4>
            <p>Aprende el Arte a traves de técnicas innovadoras y sabores únicos</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-6 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Barras Móviles en Acción</a></h4>
            <p>Busca la barra que mejor se adapte a tus necesidades! Flexibilidad adaptativa | Experiencia inolvidable.</p>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Services Section -->
