<section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Equipo</h2>
        <p>Descubre nuestro equipo</p>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/general/brian.jpeg" class="img-fluid img-fluid-team" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Brian Foggia</h4>
              <span>Director & Coordinador de eventos</span>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/img/general/emi.jpeg" class="img-fluid img-fluid-team" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Emiliano Armesto</h4>
              <span>Sommelier & Instructor de Cocteleria </span>
            </div>
          </div>
        </div>

       
      </div>

    </div>
  </section><!-- End Team Section -->
