<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Laura G.</h3>
              <h4>Bartender</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                ¡Increíble experiencia de aprendizaje! La escuela de coctelería me proporcionó conocimientos profundos sobre mixología y técnicas innovadoras. Los instructores son apasionados y expertos en su campo. Recomiendo esta escuela a todos los amantes de los cócteles
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Juan S.</h3>
              <h4>Bartender</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                La escuela de coctelería superó mis expectativas. Aprendí a combinar ingredientes de manera única y a crear cócteles con sabores sorprendentes. ¡Ahora puedo impresionar a mis amigos en cada reunión!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Marta R.</h3>
              <h4>Cliente</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                La barra móvil en mi evento fue un gran éxito. Los camareros eran profesionales, amigables y se adaptaron perfectamente a nuestra temática. Los cócteles eran deliciosos y el servicio impecable. ¡Definitivamente los contrataré nuevamente!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>Alejandro S.</h3>
              <h4>Cliente</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                El servicio de barras móviles hizo de mi fiesta algo especial. La presentación era elegante y los cócteles estaban exquisitos. Mis invitados quedaron encantados y disfrutaron de una experiencia única. ¡Gracias por hacer de mi evento algo inolvidable!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
