<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="img-fluid-container">
            <img src="assets/img/general/bartender/1.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>De la Teoría a la Práctica: Curso de Bartender Profesional y Creativo</h3>
          <p class="fst-italic">
            Una Experiencia Única de Sabor y Estilo
          </p>
          <p>
            ¡Sumérgete en el fascinante mundo de la coctelería con nuestro curso de iniciación para bartenders profesionales a nivel nacional e internacional!
            Descubre los secretos desde lo más básico hasta lo más complejo en la elaboración de cócteles. Explorarás teoría sobre el arte del bar, principios fundamentales de fermentación, destilación y elaboración de almíbares, licores y vermouths.
            En cada clase de 3 horas y media, tendrás una experiencia única que combina teoría y práctica, abordando un tema diferente en cada sesión. Nuestro completo programa incluye:
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Introducción a la coctelería: Inicia tu viaje en el arte de la mixología.</li>
            <li><i class="ri-check-double-line"></i> Destilados: Descubre los distintos tipos y sabores de licores esenciales en la coctelería.</li>
            <li><i class="ri-check-double-line"></i> Licores, Bitters, aperitivos y vermouths: Sumérgete en el fascinante mundo de los sabores y aromas complementarios.</li>
            <li><i class="ri-check-double-line"></i> Venta responsable y venta sugerida de alcohol: Aprende las mejores prácticas éticas para promover un consumo responsable.</li>
            <li><i class="ri-check-double-line"></i> Vinos: Explora el maravilloso universo de los vinos y cómo combinarlos en tus creaciones.</li>
            <li><i class="ri-check-double-line"></i> Cerveza: Conoce los secretos detrás de la cerveza y cómo incorporarla en tus cócteles.</li>
            <li><i class="ri-check-double-line"></i> Evaluación teórica/práctica: Demuestra tus conocimientos y habilidades adquiridas durante el curso.</li>
          </ul>
          <p>
            ¡Prepárate para convertirte en un bartender profesional con nuestro completo y apasionante programa de formación!
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
