<section id="hero" class="d-flex align-items-center justify-content-center hero-bartender">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Bartender Profesional<span>!</span></h1>
          <h2>Explora el arte de la coctelería: Aprende, crea y sorprende como un bartender profesional.</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
