<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="img-fluid-container">
            <img src="assets/img/general/barmanager/about.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>MasterClass Barmanager</h3>
          <p class="fst-italic">
            Domina el Arte de la Gestión y la Creatividad Detrás de la Barra
          </p>
          <p>
            Eleva tus habilidades en la industria de la hospitalidad y lidera con excelencia como un auténtico Barmanager. En nuestra exclusiva MasterClass, descubrirás las claves para gestionar y dirigir un bar de manera efectiva, mientras desatas tu creatividad en la creación de experiencias únicas para los clientes.
          </p>
          <br />
          <p>
              Aprenderás estrategias innovadoras de gestión de inventario, control de costos y optimización de recursos, todo enfocado en maximizar la rentabilidad y el éxito de tu establecimiento. Además, explorarás técnicas avanzadas de mixología y maridaje, para diseñar una carta de cócteles cautivadora y memorable.
          </p>  
          <br />
          <p>
            Nuestro equipo de expertos, con una vasta experiencia en la industria, te guiará a través de sesiones prácticas y te brindará conocimientos profundos sobre el mundo de las bebidas, la gestión del personal, la atención al cliente y el marketing especializado en bares.
          </p>
          <br />
          <p>
            ¡Únete a nuestra MasterClass Barmanager y prepárate para liderar el mundo de la hospitalidad con destreza, pasión y un toque de magia en cada copa!"
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
