<section id="features2" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="img-fluid-container">
            <img src="assets/img/general/barmanager/mixologia.webp" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Creatividad y Mixología Innovadora</h3>
          <p class="fst-italic">
            
          </p>
          <p>
            En esta sección emocionante, te sumergirás en el mundo de la creatividad y la mixología. Aprenderás técnicas avanzadas de mezcla, infusiones y maridajes, permitiéndote crear cócteles únicos y sorprendentes que deleitarán a tus clientes. 
          </p>
          <br />
          <p>
            Explorarás la importancia de los ingredientes frescos, las presentaciones creativas y las últimas tendencias en mixología, para ofrecer experiencias únicas y memorables. Además, adquirirás conocimientos profundos sobre la selección de licores, destilados y bitters de alta calidad, permitiéndote crear combinaciones de sabores intrigantes y balanceadas.
          </p>  
          <br />
          <p>
            También explorarás la importancia de la tematización y la narrativa en la creación de cócteles, brindando a tus clientes una experiencia sensorial completa. Al finalizar esta sección, estarás listo para diseñar una carta de cócteles innovadora y cautivadora, que deleitará a tus clientes y los mantendrá regresando por más.
          </p>
          <br />
          <p>
            Estas dos secciones te proporcionarán un conocimiento profundo y práctico en la gestión estratégica y la creatividad en la mixología, dándote las herramientas necesarias para ser un líder exitoso en la industria de la hospitalidad.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
