<section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("assets/img/general/barmanager/feature1.jpg");' data-aos="fade-right"></div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Gestion Estrategica para el exito del Bar</h3>
          <p class="fst-italic">
            
          </p>
          <p>
            En esta sección, descubrirás las habilidades esenciales de gestión necesarias para dirigir un bar con éxito. Aprenderás estrategias avanzadas para optimizar la rentabilidad, gestionar el inventario de bebidas de manera eficiente y controlar los costos. 
          </p>
          <br />
          <p>
            Explorarás técnicas de análisis financiero y planificación estratégica, que te permitirán tomar decisiones informadas y maximizar los beneficios. 
            Además, te sumergirás en el mundo de la gestión del personal, aprendiendo a reclutar, capacitar y motivar a tu equipo para alcanzar un servicio excepcional y una experiencia memorable para los clientes. 
          </p>  
          <br />
          <p>
            Al final de esta sección, no solo tendrás las habilidades gerenciales necesarias, sino también la confianza para enfrentar cualquier desafío de gestión y llevar tu bar hacia nuevos niveles de excelencia.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->
