<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="img-fluid-container">
            <img src="assets/img/general/bartender/1.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Bar Experiences on the Go: Descubre Nuestro Servicio de Barras Móviles</h3>
          <p class="fst-italic">
            Llevando la Magia de los Cócteles Directamente a tu Evento
          </p>
          <p>
            ¿Quieres hacer que tu evento sea verdaderamente inolvidable? Nuestro servicio de barras móviles es la respuesta. Desde fiestas privadas y bodas hasta eventos corporativos y festivales, llevamos la experiencia de un bar profesional directamente a tu ubicación deseada. Nuestro equipo de bartenders expertos, apasionados por su oficio, te ofrecerá una variedad de deliciosos cócteles, cuidadosamente preparados y presentados con estilo.
          </p>
          <br />
          <p>
            Nuestras barras móviles están equipadas con una selección premium de licores, ingredientes frescos y herramientas de bartending de última generación. No importa si deseas cócteles clásicos o creaciones personalizadas, nuestro equipo de mixólogos se adapta a tus gustos y preferencias, brindándote una experiencia de bar única y excepcional.
          </p>
          <br />
          <p>
            Ya sea que estés organizando un evento íntimo o un gran espectáculo, nuestro servicio de barras móviles se ajusta a tus necesidades. Nos encargamos de todo, desde la instalación y montaje de la barra hasta la gestión del servicio durante todo el evento. Puedes relajarte y disfrutar de la compañía de tus invitados mientras nuestros bartenders expertos crean una experiencia de bebidas inolvidable.
          </p>
          <br />
          <p>
            ¡Permítenos llevar la magia de los cócteles a tu evento con nuestro servicio de barras móviles y déjanos sorprenderte con una experiencia de bar única e inigualable que tus invitados recordarán durante mucho tiempo!
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
