<section id="hero" class="d-flex align-items-center justify-content-center hero-eventos">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Barras Moviles<span>!</span></h1>
          <h2>La Fiesta se Mueve, los Cócteles Fluyen: Nuestro Servicio de Barras Móviles Hace que tu Evento Brille</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
